# You may leave optional vars as empty string/list, but they must not be unset.

#Kavita ODPS url (required, replace with your own)
odps_url = ''  

# Whether to send the file to a remote server (using rsync). (required).
send_remote = True  #True or False

# Rsync Configs, only required if send_remote is True
ssh_key = '' #local path to pub key  ex) /home/username/.ssh/id_rsa.pub
ssh_user = ''  #username and address for SSH / rsync.   ex) kavita@example.com

# path (as string) to kavita root folder. Can be local, or your path on remote server.
kavita_base_path = ''